.o-container {
    display: block;
    margin: 0 auto;
    padding-right: 16px;
    padding-left: 16px;
    max-width: 100%;
    width: 100%;
}

@media only screen and (min-width: 576px) {
    .o-container {
        width: 540px;
    }
}

@media only screen and (min-width: 768px) {
    .o-container {
        width: 720px;
    }
}

@media only screen and (min-width: 992px) {
    .o-container {
        width: 960px;
    }
}

@media only screen and (min-width: 1200px) {
    .o-container {
        width: 1140px;
    }
}

@media only screen and (min-width: 1400px) {
    .o-container {
        width: 1320px;
    }
}


/* 
<576px	Small
≥576px	Medium
≥768px	Large
≥992px	X-Large
≥1200px	XX-Large
≥1400px
.o-container	100%	540px	720px	960px	1140px	1320px 
*/