.o-wrapper {
    overflow-x: hidden;
    width: 100%;
}

.o-wrapper--dark {
    background-color: #0A0A0A;
    color: #FFFFFFa4;
}

.o-wrapper--gray {
    background-color: #1E1E1E;
    color: #FFFFFF;
}

.o-wrapper--light {
    background-color: #393939;
    color: #FFFFFF;
}