.c-about {}

.c-about__header {
    margin-bottom: 40px;
    text-align: center;
}

.c-about__profile-pic {
    overflow: hidden;
    margin: 0 auto 40px auto;
    width: fit-content;
    max-width: 400px;
}

.c-about__profile-pic > img {
    margin-bottom: -4px;
    width: 100%;
}

.c-about__text {
    margin: 0 auto;
    max-width: 400px;
}

.c-about__para {
    margin-bottom: 20px;
    color: #FFFFFFa4;
}

.c-about__para--bot {
    margin-bottom: 0;
}

@media only screen and (min-width: 992px) {
    /* inline/flex wraimg and txt */
}