.c-about {}

.c-about__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.c-about__heading--mobile {
    margin-bottom: 40px;
    text-align: center;
    width: fit-content;
}

.c-about__heading--desktop {
    display: none;
    margin-bottom: 40px;
}

.c-about__profile-pic {
    overflow: hidden;
    margin-bottom: 40px;
    width: fit-content;
    max-width: 400px;
}

.c-about__profile-pic > img {
    margin-bottom: -4px;
    width: 100%;
}

.c-about__text {
    max-width: 400px;
}

.c-about__para {
    margin-bottom: 20px;
    color: #FFFFFFa4;
}

.c-about__para--bot {
    margin-bottom: 0;
}

@media only screen and (min-width: 992px) {
    .c-about__content {
        flex-direction: row-reverse;
    }

    .c-about__heading--mobile {
        display: none;
    }

    .c-about__heading--desktop {
        display: block;
    }

    .c-about__profile-pic {
        margin-bottom: 0;
    }
}