.c-about {}

.c-about__header {
    margin-bottom: 40px;
    text-align: center;
}

.c-about__profile-pic {
    overflow: hidden;
    margin: 0 auto 40px auto;
    box-shadow: 0px 5px 10px #210e26a4;
    border: 1px solid #84239B;
    border-radius: 6px;
    width: fit-content;
    max-width: 100%;
    background-color: #2A2A2A;
}

.c-about__profile-pic > img {
    margin-bottom: -4px;
    width: 100%;
}

.c-about__text {}

.c-about__para {
    margin-bottom: 20px;
    color: #FFFFFFa4;
}

.c-about__para--bot {
    margin-bottom: 0;
}