.c-contact-links {
    color: #FFFFFF;
}

.c-contact-links__phone {
    margin-bottom: 20px;
    padding: 15px 30px;
    width: fit-content;
}

.c-contact-links__label {}

.c-contact-links__number {}

.c-contact-links__link {
    display: block;
}

.c-contact-links__link:hover {
    color: #84239B;
}

.c-contact-links__link--phone {
    display: inline-block;
}

.c-contact-links__link--email {}

.c-contact-links__mailto {
    padding: 10px 30px;
    width: fit-content;
}