.c-contact-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    max-width: 700px;
    color: #FFFFFF;
}

.c-contact-links__phone {
    margin-bottom: 20px;
    padding: 15px 30px;
    width: fit-content;
}

.c-contact-links__label {}

.c-contact-links__number {}

.c-contact-links__link {
    display: block;
}

.c-contact-links__link:hover {
    color: #84239B;
}

.c-contact-links__link--phone {
    display: inline-block;
}

.c-contact-links__link--email {}

.c-contact-links__mailto {
    padding: 10px 30px;
}

@media only screen and (min-width: 576px) {
    .c-contact-links {
        align-items: unset;
        flex-direction: row;
    }

    .c-contact-links__phone {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 0;
        width: 45%;
    }

    .c-contact-links__mailto {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 45%;
    }
}