.c-hero {
    position: relative;
    height: 100vh;
    min-height: fit-content;
    max-height: 1080px;
}

.c-hero__content {
    position: relative;
    top: calc((50vh - 45.35px) - 168px);
    height: 336px;
    width: inherit;
}

.c-hero__divider {
    position: absolute;
    top: 14px;
    border-radius: 3px;
    width: 6px;
    height: 100%;
    max-height: 6px;
    background-color: #84239B;
    transition: max-height 3s;
}

.c-hero__divider.is-active {
    max-height: 336px;
}

.c-hero__name {
    position: absolute;
    left: 10px;
    opacity: 0%;
    transition: opacity 5s;
}

.c-hero__name.is-active {
    opacity: 100%;
}

.c-hero__firstname {}

.c-hero__surname {}

.c-hero__text {
    position: absolute;
    top: 232px;
    left: 15px;
    opacity: 0%;
    transition: opacity 5s;
    transition-delay: 1s;
}

.c-hero__text.is-active {
    opacity: 100%;
}

.c-hero__title {
    margin-bottom: 10px;
}

.c-hero__caption {
    line-height: 24px;
}

.c-hero__arrow {
    position: absolute;
    bottom: 20px;
    left: calc(50% - 35.35px);
    display: block;
    opacity: 0%;
    transition: opacity 5s;
    transition-delay: 3s;
}

.c-hero__arrow.is-active {
    opacity: 100%;
}