.c-hero {
    position: relative;
    height: 100vh;
    min-height: fit-content;
    max-height: 1080px;
}

.c-hero__content {
    position: relative;
    top: calc((50vh - 45.35px) - 168px);
    height: 336px;
    width: 343px;
}

.c-hero__divider {
    position: absolute;
    top: 14px;
    border-radius: 3px;
    width: 6px;
    height: 100%;
    max-height: 6px;
    background-color: #84239B;
    transition: max-height 3s;
}

.c-hero__divider.is-active {
    max-height: 100%;
}

.c-hero__name {
    position: absolute;
    left: 10px;
    opacity: 0%;
    transition: opacity 5s;
}

.c-hero__name.is-active {
    opacity: 100%;
}

.c-hero__firstname {}

.c-hero__surname {}

.c-hero__text {
    position: absolute;
    top: 232px;
    left: 15px;
    opacity: 0%;
    transition: opacity 5s;
    transition-delay: 1s;
}

.c-hero__text.is-active {
    opacity: 100%;
}

.c-hero__title {
    margin-bottom: 10px;
}

.c-hero__caption {
    line-height: 24px;
}

@media only screen and (min-width: 576px) {
    .c-hero__content {
        left: calc(50% - 171.5px);
    }
}

@media only screen and (min-width: 992px) {
    .c-hero__content {
        top: calc((50vh - 45.35px) - 270px);
        left: calc(50% - 389px);
        width: 778px;
        height: 478px;
    }
    
    .c-hero__divider {
        top: 22px;
    }

    .c-hero__name .c-hero__firstname {
        line-height: 160px;
    }

    .c-hero__name .c-hero__surname {
        line-height: 160px;
    }

    .c-hero__text {
        top: 380px;
        left: 20px;
    }
}

@media only screen and (min-width: 1400px) {
    .c-hero__content {
        top: calc((50vh - 45.35px) - 166px);
        left: calc(50% - 267px);
        height: 288px;
    }
    
    .c-hero__divider {
        top: 22px;
    }

    .c-hero__name {
        transition: none;
    }

    .c-hero__name .c-hero__firstname {
        opacity: 0%;
        line-height: 160px;
        transition: opacity 5s;
    }

    .c-hero__name .c-hero__surname {
        opacity: 0%;
        line-height: 160px;
        transition: opacity 5s;
        transition-delay: 1s;
    }

    .c-hero__name.is-active .c-hero__firstname {
        opacity: 100%;
    }

    .c-hero__name.is-active .c-hero__surname {
        opacity: 100%;
    }
    
    .c-hero__text {
        top: 190px;
        left: -244px;
        transition: opacity 5s;
        transition-delay: 1s;
        text-align: right;
    }
}

.c-hero__arrow {
    position: absolute;
    bottom: 20px;
    left: calc(50% - 35.35px);
    display: block;
    opacity: 0%;
    transition: opacity 5s;
    transition-delay: 3s;
}

.c-hero__arrow.is-active {
    opacity: 100%;
}