.c-nav {}

.c-nav__list {
    display: flex;
    justify-content: space-between;
    margin: 0px -8px;
}

.c-nav__item {
    padding: 0px 8px;
}

.c-nav__link {
    display: block;
}

.c-nav__link:hover {
    color: #84239B;
}

.c-nav__link.is-active {
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercased;
}
