.c-nav {}

.c-nav__list {
    display: flex;
    justify-content: space-between;
    margin: 0px -8px;
}

.c-nav__item {
    padding: 0px 8px;
}

.c-nav__link {
    display: block;
}

.c-nav__link:hover {
    color: #84239B;
}

.c-nav__link.is-active {
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercased;
}

@media only screen and (min-width: 576px) {
    .c-nav__item {
        padding: 0 16px;
    }
}

@media only screen and (min-width: 992px) {
    .c-nav__link {
        font-size: 20px;
    }

    .c-nav__link:hover {
        font-size: 20px;
    }
}