.c-projects {}

.c-projects__heading {
    margin-bottom: 40px;
    text-align: center;
}

.c-projects__project {}

.c-projects__divider {
    margin: 40px auto 40px auto;
    border-radius: 1px;
    width: 100px;
    height: 2px;
    background-color: #84239B;
}

.c-projects__website-git {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    width: fit-content;
    color: #FFFFFF;
    text-align: center;
}

.c-projects__website-git:hover {
    border-color: #D420FF;
    background-color: #0A0A0A;
    color: #ffffffA4;
}

@media only screen and (min-width: 992px) {
    .c-projects__project {
        padding: 20px 0px;
    }

    .c-projects__website-git {
        margin-top: 60px;
    }
}