.c-project {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.c-project__example-pic {
    position: relative;
    display: block;
    overflow: hidden;
    margin-bottom: 40px;
    width: fit-content;
    max-width: 400px;
    height: 100%;
    max-height: 400px;
}

.c-project__example-pic > img {
    margin-bottom: -11px;
    width: 100%;
}

.c-project__example-pic:hover {
    border-color: #D420FF;
}

.c-project__example-pic:hover > img {
    opacity: 40%;
}

.c-project__example-pic:hover > .c-project__img-overlay {
    display: block;
}

.c-project__img-overlay {
    position: absolute;
    z-index: 2;
    display: none;
    width: 100%;
    text-align: center;
    color: #FFFFFF;
}

.c-project__img-overlay:hover {
    color: #84239B;
}

.c-project__img-overlay--top {
    top: calc(50% - 80px);
}

.c-project__img-overlay--bot {
    top: calc(50% + 48px);
}

.c-project__pic--mobile {}

.c-project__pic--desktop {
    display: none;
}

.c-project__text {
    max-width: 400px;
}

.c-project__name {
    margin-bottom: 20px;
}

.c-project__descript {}

@media only screen and (min-width: 992px) {
    .c-project {
        flex-direction: row;
    }

    .c-project__example-pic {
        margin-bottom: 0;
    }

    .c-project__pic--mobile {
        display: none;
    }

    .c-project__pic--desktop {
        display: block;
    }
}